---
layout: default
---

<div id="main" role="main">
  <div class="wrap">
    <article>
      <div class="page-feature">
	<div class="page-image">
	  <a href="{{ page.enlace }}"><img style="border:1px solid black;" src="{{ site.url }}/images/{{ page.url | replace:'.html','.png' }}.png" class="page-feature-image" alt="{{ page.title }}" itemprop="image"></a>
	</div><!-- /.page-image -->
      </div><!-- /.page-feature -->
      {% if page.image.feature %}
      <div class="page-feature">
	<div class="page-image">
	  <img src="{{ site.url }}/images/{{ page.image.feature }}" class="page-feature-image" alt="{{ page.title }}" itemprop="image">
	  {% if page.image.credit %}{% include image-credit.html %}{% endif %}
	</div><!-- /.page-image -->
      </div><!-- /.page-feature -->
      {% endif %}
      {% include breadcrumbs.html %}
      <div class="page-title">
      <h1>{{ page.title }}</h1>
      </div>
      <div class="inner-wrap">
	<div id="content" class="page-content" itemprop="articleBody">
	  
	  <p>{{ page.excerpt }}</p>
	  <ul>
	    <li>Autor(es): {{ page.autores }}</li>
	    <li>Centro: {{ page.centro }}</li>
	    <li>Titulación(es): {{ page.titulaciones }}</li>
	    <li>Licencia: {{ page.licencia }}</li>
	    <li><a href="{{ page.enlace }}">Enlace a los materiales</a></li>
	  </ul>
	  
	  <p>{{ page.content }}</p>	
	  
	  <hr />
	  <footer class="page-footer">
	    {% if page.categories %}{% include page-author.html %}{% endif %}
	    {% if page.share != false %}{% include share-this.html %}{% endif %}
	    {% include page-meta.html %}
	  </footer><!-- /.footer -->
	  <aside>
	    {% if page.comments == true %}{% include comments.html %}{% endif %}
	  </aside>
	</div><!-- /.content -->
      </div><!-- /.inner-wrap -->
      {% if page.ads == true %}<div class="ads">{% include advertising.html %}</div><!-- /.ads -->{% endif %}
    </article><!-- ./wrap -->
  </div>
</div><!-- /#main -->
